@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Courier Prime, system-ui, sans-serif;
  }
}

@layer components {
  .page-layout {
    display: grid;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;
  }

  .logo-fill-black {
    fill: #202020;
  }
  .logo-fill-white {
    fill: #f1e3da;
  }
}
